@import "slideshow1";

body {
    background-color: #111;
}
svg {
    display: block;
    width: 800px;
    height: 532px;
    overflow: visible;
  }
  text {
    fill: #222;
    fill-opacity: .5;
    font-size: 3em;
    filter: url(#fl-shadow)
  }